*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif', serif;
}

.header{
	height: 850px;
	background-color: #BB3B56;
	background-image: url("../img/user.png");
	background: url("../img/user.png"), linear-gradient(to right, #1C3763, #BB3B56);
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/*for navigation bar*/
.user-img{
	height: 600px;
	width: 100%;
}
.start-btn{
	text-decoration: none;
	color: #fff;
	font-size: 0.75rem;
	font-weight: 500;
	float: right;
	margin-top: 40px;
	margin-right: 150px;
	padding: 10px 30px 10px 30px;
	border: 2px solid #fff;
	border-radius: 50px;
}

/*for sign in form*/
.sign-in{
	position: relative;
	top: 40%;
  	left: 50%;
  	max-width: 35%;
}
.sign-in h2{
	color: #fff;
	font-weight: 1500;
}
.email{
	width: 100%;
	margin-top: 10px;
	height: 50px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 50px;
	background-color: inherit;
}
.email::placeholder{
	color: #fff;
	padding-left: 20px;
}
.password{
	width: 100%;
	margin-top: 10px;
	right: 0;
	height: 50px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 50px;
	background-color: inherit;
}
.password::placeholder{
	color: #fff;
	padding-left: 20px;
}
.next-btn{
	padding: 0px;
	width: 100%;
	margin-top: 10px;
	height: 50px;
	background-color: #1C3763;
	color: #fff;
	border-style: none;
	border-radius: 50px;
}
.forgot-password{
	display: block;
	color: #fff;
	text-align: right;
	padding-bottom: 8px;
}
.start-free{
	color: #fff;
}
.remember-pwd{
	font-size: 0.75rem;
	margin-top: 10px;
	float: right;
	color: #fff;
}
